body, html {
    background-image: url('p3.jpg');
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    /* background-color: #212121; */
    
}

#splash-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#decoder{
  display: flex;
}


#header {
    position: relative;
    width: 100%;
    height: 100vh;
}
#letter-o{
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(3, 130, 248);
    font-size: 100px;
    font-weight: bold;
    white-space: nowrap;
    border: 1px;
    border-color: azure;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px);
    }
}

.slide-in {
    animation: slideIn 2s forwards;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(3, 130, 248);
    font-size: 100px;
    font-weight: bold;
    white-space: nowrap;
    border: 1px;
    border-color: azure;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.show {
    opacity: 1;
    visibility: visible;
}

#splash-screen.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


#main-content {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  
}

#main-content.show {
    display: flex;
    opacity: 1;
    transition: opacity 1s;
    flex-direction: column;
}

@import url('https://rsms.me/inter/inter.css');

:root {
  --color-light: white;
  --color-dark: #151029c4;
  --color-signal: #45a3f56c;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

h1, h2, h3 {
  font-weight: 900;
}

#editor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
#dump-config{
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

#code-editor{
  width: 50%;
  height: 100%;
}

mark {
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}

.card {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
}
#textbox{
  align-self: center;
  height:500px;
  width: 100%;
}


.card--inverted {
  --color-background: var(--color-dark);
  color: var(--color-light);
  --color-shadow: var(--color-accent);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
  width: 60%;
  align-self: center;
}

.card--accent {
  --color-background: var(--color-signal);
  --color-accent: var(--color-light);
  color: var(--color-dark);
}

.card *:first-child {
  margin-top: 0;
}

.l-design-widht {
  max-width: 0rem;
  padding: 0rem;
}
#creators{

}

.input {
  position: relative;
  
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  
}
#Dump-div{
  height: 250px;
  width: 100%;
}

#config{
  width: 100%;
  height: 50%;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
  resize: none;
  font-size: larger;
  font-weight: 200px;
}

.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label {
  transform: translate(.25rem, -65%) scale(.8);
  color: var(--color-accent);
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
}

button[type=reset] {
  background: var(--color-background);
  font-weight: 200;
}

button + button {
  margin-left: calc(var(--size-bezel) * 2);
}

.icon {
  display: inline-block;
  width: 1em; height: 1em;
  margin-right: .5em;
}

.hidden-text {
  display: none;
} 