<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% csrf_token %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oxygen Simulator</title>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'style_test.css' %}">
  </head>
  <body>
    <div id="splash_screen">
      <div>
        <canvas id="c"></canvas>
        <div id="text">
          <span id="letter-o" class="slide-in">O</span>
          <span id="rest-text" class="hidden">xygen</span>
        </div>
      </div>
    </div>
    <div id="navbar">
      <a href="#oxygen_sim">OXYEGEN SIMULATOR</a>
      <a href="#merl">MERL</a>
    </div>
    <div id="main-content" class="hidden">
      <div id="editor">
          <div class="card card--inverted" id="textbox">
            <h2>Assembly Code Editor</h2>
            <label class="input">
              <textarea id = 'editor-text-box' autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" class="input__field"
                type="text" placeholder="Enter your Instructions" value="Valuable value"></textarea>
            </label>
            <div class="button-group">
              <a href="#decoder"><button id = 'assemble-btn' class="button glow-button" onclick="assemble_code()" >Assemble</button></a>
              <button onclick="reset_editor()" class="reset-button">Clear</button>
            </div>
          </div>
        
  
        <div id="dump-config">
          <div id="config" class="card card--inverted">
            <h2>Configration</h2>
            <div id = 'varient'>
              <label for="Variant"><h3>Varient : </h3></label>
              <select name="Choose Varient" id="varient-drop">
                <option value="RV32">RV32</option>
                <option value="RV64">RV64</option>
              </select>
            </div>
          </div>
          <div id="Dump-div" class="card card--inverted">
            <h2>Hex Dump</h2>
            <textarea readonly id="dump-box" class="input__field" type="text" placeholder="Hex dump will appear here"
              value=""></textarea>
            <div class="button-group">
              <button class='copy-button' onclick="copy_hex()">Copy</button>
              <button class="run-run-button" onclick="download_hex()">Download</button>
              <button class="reset-button" onclick="clear_hex()">clear</button>
            </div>
          </div>
        </div>
      </div>
      <div id="decoder">
        <div id="tablediv" class="card card--inverted">
          <div class="run-button">
            <button class="run-run-button" onclick="run_Code()">Run</button>
            <button class="step-button" onclick="stepInstruction()">Step</button>
            <button class="reset-button" onclick="reset_Registers()">Reset</button>
          </div>
          <table id="decodetable">
            <thead>
              <tr>
                <th>
                  <h3>PC</h3>
                </th>
                <th>
                  <h3>Machine Code</h3>
                </th>
                <th>
                  <h3>Base Instruction</h3>
                </th>
                <th>
                  <h3>Original Instruction</h3>
                </th>
              </tr>
            </thead>
            <tbody id="decoderTableBody">
            </tbody>
          </table>
        </div>
        <div id="regmem" class="card card--inverted">
          <div id= 'regmem-buttons'>
            <div class="notation-select">
              <label for="notation"><h3>Notation  : </h3></label>
              <select id="notation" onchange="changeNotation(this.value)">
                <option value="hex">Hex</option>
                <option value="decimal">Decimal</option>
              </select>
            </div>
            <div id='reg-mem-btn'>
              <div class="dropdown">
                <button class="dropbtn">Registers
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <li class="nav-item" data-tab-target="#ftype-registers"><a href='#ftype-registers'>F-type Registers</a></li>
                  <li data-tab-target="#registers" class="nav-item"><a href='#registers'>I-type Registers</a></li>
                </div>
              </div>
              <div class="dropdown">
                <li data-tab-target="#memory"><button class="dropbtn">memory <i class="fa fa-caret-down"></i></button>
                </li>
              </div>
            </div>
          </div>
  
          <div class="col-md-5">
  
            <div class="tab-content" id="myTabContent">
              <div data-tab-content id="registers" role="tabpanel" class="active">
                <!-- Registers content -->
                <div id="registers-content">
                  <table class="registers-table">
                    <thead>
                      <tr>
                        <th>Register</th>
                        <th>ABI Name</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Dynamically populate RISC-V registers -->
                      <script>
                        const registers = [
                          { number: 0, name: "zero" },
                          { number: 1, name: "ra" },
                          { number: 2, name: "sp" },
                          { number: 3, name: "gp" },
                          { number: 4, name: "tp" },
                          { number: 5, name: "t0" },
                          { number: 6, name: "t1" },
                          { number: 7, name: "t2" },
                          { number: 8, name: "s0/fp" },
                          { number: 9, name: "s1" },
                          { number: 10, name: "a0" },
                          { number: 11, name: "a1" },
                          { number: 12, name: "a2" },
                          { number: 13, name: "a3" },
                          { number: 14, name: "a4" },
                          { number: 15, name: "a5" },
                          { number: 16, name: "a6" },
                          { number: 17, name: "a7" },
                          { number: 18, name: "s2" },
                          { number: 19, name: "s3" },
                          { number: 20, name: "s4" },
                          { number: 21, name: "s5" },
                          { number: 22, name: "s6" },
                          { number: 23, name: "s7" },
                          { number: 24, name: "s8" },
                          { number: 25, name: "s9" },
                          { number: 26, name: "s10" },
                          { number: 27, name: "s11" },
                          { number: 28, name: "t3" },
                          { number: 29, name: "t4" },
                          { number: 30, name: "t5" },
                          { number: 31, name: "t6" },
                        ];
                        registers.forEach((register) => {
                          document.write(`
                                      <tr>
                                          <td>x${register.number}</td>
                                          <td>${register.name}</td>
                                          <td id="reg-${register.number}">0x00000000</td>
                                      </tr>
                                  `);
                        });
                      </script>
                    </tbody>
                  </table>
                </div>
              </div>
              <div data-tab-content id="ftype-registers" role="tabpanel">
                <!-- F-Type Registers content -->
                <div id="ftype-registers-content">
                  <table class="ftype-registers-table">
                    <thead>
                      <tr>
                        <th>Register</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <script>
                        for (let i = 0; i < 32; i++) {
                          document.write(`
                                              <tr>
                                                  <td>f${i}</td>
                                                  <td id="freg-${i}">0.0</td>
                                              </tr>
                                          `);
                        }
                      </script>
                    </tbody>
                  </table>
                </div>
              </div>
              <div data-tab-content id="memory" role="tabpanel">
                <div id="memory-content">
                  <table class="memory-table">
                    <thead>
                      <tr>
                        <th>Address</th>
                        <th>+0</th>
                        <th>+1</th>
                        <th>+2</th>
                        <th>+3</th>
                      </tr>
                    </thead>
                    <tbody id="memoryTableBody">
                    </tbody>
                  </table>
                  <button id="scrollUpBtn">Scroll Up</button>
                  <button id="scrollDownBtn">Scroll Down</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id='datapath'>
        <div id='stage_table' class="card card--inverted">
          <table>
              <tr>
                <td>Fetch</td>
                <td>Decode</td>
                <td>Execute</td>
                <td>Memory</td>
                <td>Write Back</td>
              </tr>
            <tbody id="stageTableBody">
            </tbody>
          </table>
          <div id="stage_Buttons">
            <button class="run-run-button" onclick="Next_Code()">Next cycle</button>
          </div>
        </div>
        <div id="datapath-content">
          <div id='stats_table' class="card card--inverted">
            <div id="stage_Buttons">
              <button class="run-run-button" onclick="check_stats()">Check Stats</button>
            </div>
            <table>
              <tbody id="statsTableBody">
                <tr>
                  <td>Total instructions</td>
                  <td id="total_instructions">0</td>
                </tr>
                <tr>
                  <td>Total cycles</td>
                  <td id="Total_cycles">0</td>
                </tr>
                <tr>
                  <td>ALU Instructions</td>
                  <td id="ALU_instructions">0</td>
                </tr>
                <tr>
                  <td>Jump Instructions</td>
                  <td id="Jump_instructions">0</td>
                </tr>
                <tr>
                  <td>Data Transfer Instructions</td>
                  <td id="Data_transfer">0</td>
                </tr>
                <tr>
                  <td>Data Hazards</td>
                  <td id="Data_hazards">0</td>
                </tr>
                <tr>
                  <td>Control Hazards</td>
                  <td id="Control_hazards">0</td>
                </tr>
                <tr>
                  <td>Structural Hazards</td>
                  <td id="Structural_hazards">0</td>
                </tr>
                <tr>
                  <td>Stalls</td>
                  <td id="Stalls">0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'script_test.js' %}"></script>
  </body>
</html>